/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/Images/background.jpeg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 20px;
  position: relative;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

/* Navbar Hovering */

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -2.5px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

/* Dropdown styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f900;
  min-width: 300px;
  max-height: 0;
  overflow: hidden;
  /* Changed ease-in to ease-out */
  transition: max-height 0.3s ease-out;
  flex-direction: column;

}

.dropdown-content.show {
  max-height: 500px;
}

/* Show the dropdown content when clicking on the parent */
.dropdown.clicked .dropdown-content  {
  display: block;
  max-height: 500px;
}

.dropdown-content li {
  padding: 5px 0;
}

.dropdown-content li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 5px;
  text-align:left;
}

.dropdown-content li a:hover {
  background-color: #ffffff42;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .menu-icon {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  /* Show the mobile menu when active */
  #menu.active {
    display: flex;
    flex-direction: column;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar ul {
      display: none; /* Hide the desktop menu */
    }
  
    /* Show the mobile menu icon */
    .menu-icon {
      display: block;
    }
  
    /* Show the desktop menu when not active */
    #menu:not(.active) {
      display: flex;
    }
  }

}
