/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
  }
  
  nav {
    background-color: rgb(0, 139, 72);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    padding: 10px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .nav-item a:hover {
    color: lightgreen;
    animation: glow 1s ease-in-out infinite;
  }
  
  /* Dropdown Styles */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 139, 72);
  }
  
  .dropdown-content li {
    padding: 5px 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Glow Animation */
  @keyframes glow {
    0%, 100% {
      text-shadow: none;
    }
    50% {
      text-shadow: 0 0 10px white;
    }
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      padding: 5px;
    }
  
    .dropdown-content {
      position: static;
      display: none;
      background-color: transparent;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
      animation: none;
    }
  }
  