
.banner-common {
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/desktop/Images/background.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}

:root {
  --primary-color: #009688;
  --secondary-color: #f8f8f8;
  --dark-color: #000;
  --light-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --transparent-color: rgba(0, 0, 0, 0);
  --dark-red-color: #bd2300;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Styles for navbar */
.navbar {
  overflow: visible;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.mobile-menu {
  display: none;
  display: none; /* Hide the full navbar by default */
  align-items: center;
}

.mobile-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu li {
  margin: 0 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: visible;

  display: none;
  position: absolute;
  overflow: visible;

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  list-style: none;
  padding: 10px;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: none;
  position: absolute;
  overflow: visible;

  display: none;
  position: absolute;
  overflow: visible;

  display: block;
}

/* Mobile styles */
.menu-icon {
  display: block; /* Show mobile menu button by default */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) and (max-width: 767px) {
  .menu-icon {
      display: none; /* Hide mobile menu button */
  


}

  .mobile-menu {
  display: none;
      display: flex; /* Show the full navbar */
  }
}



/* Global Styles */
* {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}

body {
font-family: 'Roboto', sans-serif;
background-color: var(--secondary-color);
margin: 0;
padding: 0;
}

/* index.html Content Styles*/

.formerly-temp {
font-size: medium;
font-weight: 900;
font-style: italic;
margin-top: 5px ;
margin-bottom: 5px;
font-family: 'Roboto', sans-serif;
color: var(--light-color);
}
.content {
width: 100%;
height: 20%;
position: absolute;
top: 50%;
transform: translateY(-70%);
text-align: center;
color: var(--light-color);
}

.content h1 {
font-size: 6vh;
color: var(--light-color);
}

.content p {
margin: 5px auto;
font-weight: 100;
line-height: 25px;
font-size: small;
}


.button-index {
width: 30%;
max-width: 30%;
padding: 15px 0;
text-align: center;
margin: 20px 10px;
border-radius: 25px;
font-weight: bold;
border: 2px solid var(--primary-color);
background: transparent;
color: white;
cursor: pointer;
position: relative;
overflow: hidden;
}

.index-span {
background: var(--primary-color);
height: 100%;
width: 0;
border-radius: 25px;
position: absolute;
left: 0;
bottom: 0;
z-index: -1;
transition: 0.5s;
}

button:hover .index-span {
width: 100%;
}

/* Adding animation */
.content, .contact, .container {
transition: opacity 2s ease-in-out;
}


/*-------------------------------------------------------------------------- */
.banner-home {
width: 100%;
height: auto;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/desktop/Images/background.jpeg);
background-size: cover;
background-position: center;
position: relative;
padding-bottom: 10%;
}
.banner {
width: 100%;
height: auto;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/desktop/Images/background.jpeg);
background-size: cover;
background-position: center;
position: relative;
padding-bottom: 10%;
}

.banner-services {
width: 100%;
height: auto;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/desktop/Images/background.jpeg);
background-size: cover;
background-position: center;
position: relative;
padding-bottom: 30%;
}

.banner-contact {
width: 100%;
height: auto;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/desktop/Images/background.jpeg);
background-size: cover;
background-position: center;
position: relative;
}


.banner-about {
width: 100%;
height: auto;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/desktop/Images/background.jpeg);
background-size: cover;
background-position: center;
position: relative;
padding-bottom: 10%;
}


.banner-index {
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/desktop/Images/background.jpeg);
background-size: cover;
background-position: center;
position: relative;
}

.navbar {
  overflow: visible;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.mobile-menu {
  display: none;
  display: none; /* Hide the full navbar by default */
  align-items: center;
}

.logo {
width: 120px;
cursor: pointer;
position: relative;
align-items: center;
}



.navbar ul li {
margin: 0 20px;
position: relative;
}

.navbar ul li a {
text-decoration: none;
color: var(--light-color);
}

/* Navbar Hovering */
.navbar ul li::after {
content: '';
height: 3px;
width: 0;
background: var(--primary-color);
position: absolute;
left: 0;
bottom: -2.5px;
transition: 0.5s;
}

.navbar ul li:hover::after {
width: 100%;
}

/* Dropdown styles */
.dropdown-content {
  display: none;
  position: absolute;
  overflow: visible;

  display: none;
  position: absolute;
  overflow: visible;

display: none;
position: absolute;
background-color: #5c5c5c24;
min-width: 200px;
max-height: none;
overflow-y: auto;
flex-direction: column;
transition: max-height 0.5s ease-in;
font-size: small;
}

.dropdown-content.show {
max-height: 100px;
}

/* Show the dropdown content when clicking on the parent */
.dropdown.clicked .dropdown-content {
  display: none;
  position: absolute;
  overflow: visible;

  display: none;
  position: absolute;
  overflow: visible;
 
max-height: min(100%,100px);
overflow-y: 1;
}

.dropdown-content li {
padding: 5px 0;
}

.dropdown-content li a {
color: var(--dark-color);
text-decoration: none;
display: block;
padding: 5px;
text-align: left;
}

.dropdown-content li a:hover {
background-color: var(--transparent-color);
}

/*  Contact Styles  */

.container-contact {
margin-inline: auto;
box-shadow: 0px 2px 10px var(--shadow-color);
border-radius: 10px;
padding: 10%;
}

.contact {
padding: 30px;
height: auto;
width: 80%;
margin-inline: auto;
}

.contact h2 {
font-size: 1.875rem;
margin-bottom: 20px;
text-align: center;
color: var(--light-color);
}

.contact-info {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.contact-item {
display: flex;
align-items: center;
margin: 10px;
padding: 5px 10px;
background-color: var(--transparent-color);
border-radius: 5px;
box-shadow: 0 2px 4px var(--shadow-color);
}

.contact-item i {
margin-right: 10px;
font-size: 1.125rem;
color: var(--primary-color);
}

.contact-item p {
font-size: 1rem;
color: var(--light-color);
}

.location {
display: flex;
align-items: center;
justify-content: center;
margin: 20px;
height: auto;
width: auto;
}

.location i {
margin-right: 10px;
font-size: 1.125rem;
color: var(--primary-color);
}

.location p {
font-size: 1rem;
color: var(--light-color);
}

.facebook-page {
display: flex;
justify-content: center;
margin: 20px;
height: auto;
width: 80%;
}

.facebook-page iframe {
border: none;
overflow: hidden;
background-color: rgba(255, 255, 255, 0);
}

/* Glowing effect on hover for phone number links */
.contact-item p a {
color: var(--light-color);
text-decoration: none;
position: relative;
}

.contact-item p a::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: var(--light-color);
opacity: 0;
z-index: -1;
transition: opacity 0.3s ease-in-out;
}

.contact-item p a:hover::before {
opacity: 0.4;
}

/* About us Styles */

.container {
height: auto;
width: 80%;
margin-inline: auto;
box-shadow: 0px 2px 10px var(--shadow-color);
border-radius: 10px;
padding-top: 10%;
}

.title {
font-weight: bold;
color: var(--primary-color);
margin-bottom: 15px;
font-size: x-large;
}

.description {
font-size: small;
line-height: 1.6;
color: var(--light-color);
margin-bottom: 20px;
width: auto;
}

/* Add some spacing between paragraphs */
.description + .description {
margin-top: 20px;
}

/* Add a subtle border bottom for the titles */
.title {
border-bottom: 2px solid var(--primary-color);
padding-bottom: 10px;
}

/* Add a small animation on hover for the titles */
.title:hover {
transform: scale(1.02);
transition: transform 0.2s ease-in-out;
}

/* Add a link style for external links */
a {
color: var(--primary-color);
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

/* Sliding Pics/Container Styles */

.sliding-container {
width: 100%;
overflow: hidden;
position: relative;
height: 500px; /* Set the height according to your images */
transform: translateX(0);
background-color: #3333335e;
}

.sliding-container img {
width: auto;
height: auto;
max-width: 450px;
max-height: 450px;
position: absolute;
top: 50px;
left: 50%;
transform: translateX(-50%);
opacity: 0;
transition: opacity 0.5s ease-in-out;
border: #bd2300 2.5px solid;
}

.sliding-container img:first-child {
opacity: 1;
}


.sliding-container-keydupe1 {
height: auto;
width: auto;
overflow: visible;
height: auto; /* Set the height according to your images */
cursor: pointer;
margin-left: 10%;
flex: 30%;
}

.sliding-container-keydupe1 img {
width: auto;
max-width: 20%;
height: auto;
max-height: 20%;
position: absolute;
opacity: 0;
transition: opacity 0.5s ease-in-out;
}

.sliding-container-keydupe1 img:first-child {
opacity: 1;
}

.sliding-container-keydupe2 {
height: auto;
width: auto;
overflow: visible;
height: auto; /* Set the height according to your images */
cursor: pointer;
margin-left: 10%;
flex: 30%;
}

.sliding-container-keydupe2 img {
width: auto;
max-width: 20%;
height: auto;
max-height: 20%;
position: absolute;
opacity: 0;
transition: opacity 0.5s ease-in-out;
left: 65%;
}

.sliding-container-keydupe2 img:first-child {
opacity: 1;
}

/* Home Styles */
.home-container {
max-width: 1425px;
margin: auto;
padding: 1.875rem;
background-color: var(--transparent-color);
border-radius: 10px;
box-shadow: 0 2px 6px var(--shadow-color);
}

.home-container h1 {
font-size: 5vh;
font-weight: bold;
color: var(--light-color);
margin-bottom: 0px;
text-align: center;
}

.brand-name {
color: #bd2300;
}

.home-container h2 {
font-size: 3vh;
color: var(--light-color);
margin-bottom: 10px;
padding-top: 1.875rem;
}

.home-container p {
font-size: 2vh;
color: var(--light-color);
line-height: 1.5;
margin-bottom: 15px;
}

.home-container ul {
list-style: disc;
margin-bottom: 20px;
padding-left: 20px;
}

.home-container li {
color: var(--light-color);
margin: 25px;
}

.home-container a.contact-button {
display: inline-block;
background-color: var(--primary-color);
color: var(--dark-color);
text-decoration: none;
font-size: 1.125rem;
font-weight: bold;
padding: 10px 20px;
border-radius: 5px;
border: var(--dark-color) solid 1px;
transition: background-color 0.2s ease-in-out;
}


.home-container a.contact-button:hover {
background-color: #007a63;
}

/* Services Styles */

.service .container-keydupe {
display: flex;
flex-direction: row; /* Align children horizontally *//* Align items at the top of the container */
justify-content: space-between; /* Create space between items */
}

.service {
background-color: rgba(255, 255, 255, 0.6);
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 10px var(--shadow-color);
margin-bottom: 20px;
color: black;
margin: 20px;
height: 100vh;
width: auto;
}

.service h2 {
font-size: 24px;
color: var(--dark-color);
margin-top: 0;
border-bottom: 2px solid #007a63;
padding-bottom: 10px;
margin-left: 20px;
}

.service h3 {
font-size: 20;
color: var(--dark-color);
margin-top: 10px;
height: auto;
width: auto;
margin-left: 20px;
}

.desc-keydupe {
font-size: 1rem;
color: var(--dark-color);
line-height: 1.5;
height: auto;
width: auto;
max-width: 700px;
position: relative;
margin-left: 20px;
flex: 70%;
}



/* Styles for mobile menu items */

.mobile-menu {
  display: none;
  background-color: var(--dark-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.mobile-menu.active {
  display: block;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.mobile-menu li {
  margin: 10px 0;
}

.mobile-menu li a {
  text-decoration: none;
  color: var(--light-color);
  padding: 5px 10px;
  display: block;
}

.mobile-menu .dropdown-content {
  display: none;
  position: absolute;
  overflow: visible;

  display: none;
  position: absolute;
  overflow: visible;

  display: none;
  position: static;
  background-color: #5c5c5c24;
  min-width: 100%;
  overflow-y: auto;
  border-top: 1px solid var(--shadow-color);
}

.mobile-menu .dropdown.clicked .dropdown-content {
  display: none;
  position: absolute;
  overflow: visible;

  display: none;
  position: absolute;
  overflow: visible;

  display: block;
}


/* Services Styles */

.container-services{
  width: max(80%, 200px);
  height: auto;
  margin-top: 15%;
  margin-inline: auto;
  padding: min(2vh, 10%);
}

.h1-services {
  color: var(--dark-red-color);
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 2px var(--primary-color);
  font: bold;
}

.h2-services {
  color: var(--primary-color);
  padding: 0.5rem;
  font-size: medium;
  font-style: italic;
}

.p-services {
  color: var(--secondary-color);
  padding: 0.2rem;
  font-size: small;
}

.p-services + .p-services {
  margin-top: 20px
}

.h1-services:hover {
  transform: scale(1.02);
  transition: transform 0.2 ease-in-out;
}

.container-services a.learnmore-button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--dark-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  border: var(--dark-color) solid 1px;
  transition: background-color 0.3s ease-in-out;
  }
  
  .container-services a.learnmore-button:hover {
    background-color: var(--dark-red-color);
  }


  /* All Services Styles */

  .automotive-container,
  .commercial-container,
  .glassdoor-container,
  .keydupe-container,
  .locksmith-container,
  .vaultsvs-container {
    width: min(80%,1000px);
    height: auto;
    margin-inline: auto;
    margin-top: 10%;
    color: var(--light-color);
  }

  .automotive-h1,
  .commercial-h1,
  .glassdoor-h1,
  .keydupe-h1,
  .locksmith-h1,
  .vaultsvs-h1 {
    padding-bottom: 0.5rem;
    color: var(--dark-red-color);
    font-weight: 900;
    border-bottom: 3px solid var(--primary-color);
  }

  .automotive-p,
  .commercial-p,
  .glassdoor-p,
  .keydupe-p,
  .locksmith-p,
  .vaultsvs-p {
    color: var(--secondary-color);
    font-size: small;
    padding-bottom: 1rem;
  }

  .automotive-h2,
  .commercial-h2,
  .glassdoor-h2,
  .keydupe-h2,
  .locksmith-h2,
  .vaultsvs-h2 {
    color: var(--primary-color);
    font-weight: 900;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .automotive-h3,
  .commercial-h3,
  .glassdoor-h3,
  .keydupe-h3,
  .locksmith-h3,
  .vaultsvs-h3 {
    color: var(--dark-red-color);
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 0.5rem;
    width: 80%;
    font-size: x-large;
  }

  .automotive-ul,
  .commercial-ul,
  .glassdoor-ul,
  .keydupe-ul,
  .locksmith-ul,
  .vaultsvs-ul  {
    list-style: circle;
    margin-left: 2rem;
    color: var(--primary-color);
    font-weight: 900;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 0.90rem;
  }

  .automotive-ul li,
  .commercial-ul li,
  .glassdoor-ul li,
  .keydupe-ul li,
  .locksmith-ul li,
  .vaultsvs-ul li {
    padding: 0.5rem;
  }

  .image-contents,
  .commercial-image-contents,
  .glassdoor-image-contents,
  .keydupe-image-contents,
  .locksmith-image-contents,
  .vaultsvs-image-contents{

    margin-inline: auto;
    padding: 10%;
  }

  .img-contents {
    width: min(10rem, 50%);
    flex-direction: column;
  }



  /* Responsive Styles */

@media (min-width: 320px) {
  .navbar {
  overflow: visible;

    flex-direction: column;
    height: auto;
  }
  
  .navbar ul li {
    margin: 10px 0;
  }
  
  .navbar ul {
    flex-direction: row;
    align-items: center;
    font-size: 0.5rem;
  }
  
  .logo {
    width: 80px;
    cursor: pointer;
    position: relative;
    align-items: center;
  }
  }

/* Integrated Navbar Styles */

/* Ensure navbar doesn't constrain the dropdown */
.navbar {
  overflow: visible;

    overflow: visible;
    position: relative;
    z-index: 100; /* Higher z-index to ensure it appears above other content */
}

/* Ensure dropdown content can overflow */
.dropdown-content {
  display: none;
  position: absolute;
  overflow: visible;

  display: none;
  position: absolute;
  overflow: visible;

    position: absolute;
    overflow: visible;
    z-index: 101; /* Ensuring dropdown content has higher z-index */
}

@media screen and (max-width: 767px) {
    .menu-icon {
        display: block; /* Show mobile menu button */
    }

    .mobile-menu {
        display: none; /* Hide the full navbar */
    }
}

@media screen and (min-width: 768px) {
    .menu-icon {
        display: none; /* Hide mobile menu button */
    }

    .mobile-menu {
        display: flex; /* Show the full navbar */
    }
}

@media (min-width:768px) {
  .mobile-menu {
    border: red 2px solid;
  }

  .mobile-menu li {
    font-size: calc(10px + (24 - 16) * ((100vw - 320px) / (2568 - 768)))
  }

}
